
<button [routerLink]="['/pets/']" class="btn btn-info fr">Home</button>
<h3>Details about {{pet.name}}</h3>
<h4>Pet Type: {{pet.type}}</h4>
<h4>Description: {{pet.description}}</h4>
<h4>Skills: <p>{{pet.skill1}}</p><p>{{pet.skill2}}</p><p>{{pet.skill3}}</p></h4>
<h4>Likes: {{pet.likes}}</h4>

<button class="btn btn-primary" *ngIf="liked;else disabled" (click)="likeTrigger(pet)">Like this pet</button>
<ng-template #disabled><button type="button" disabled>Liked this pet</button></ng-template>
<button class="btn btn-success mr" (click)="adoptPet(pet._id)">Adopt this pet</button>