<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/pets']">Pet Shelter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/pets']">Home <span class="sr-only">(current)</span></a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/mine-coins']">Mine Coins</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/buy-coins']">Buy Coins</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sell-coins']">Sell Coins</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/browse-ledger']">Browse Ledger</a>
        </li> -->

      </ul>
    </div>
  </nav>

  <br><br>

  <h4>These pets are looking for a home! </h4>
  <!-- <h4> <a routerLink="/pets/new">Add a pet to the shelter</a> </h4>

  <br><br> -->

  <router-outlet></router-outlet>

</div>